body {
  width: 100%;
}
.wrapper {
  margin: 0 auto;
  width: 880px;
}
.command-area {
  background-color: #c0c0c0;
  margin: 5px;
  padding: 10px;
  font-size: 90%;
  border-radius: 3px;
}
img {
  padding: 10px;
}
